* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background-color: #A2A2A0;
}

.buttonSend {
  background-color: #A2A2A0;
  color: black;
}

input {
  background-color: #A2A2A0;
  color: black;
}

textarea {
  background-color: #A2A2A0;
  color: black;
}

.like {
  background-color: #E7E7E1;
  width: 20px;
  height: 20px;
}

.trash {
  background-color: #E7E7E1;
  width: 20px;
  height: 20px;
}

.comment {
  border: 1px solid grey;
  background-color: #E7E7E1;
  width: 90%;
  margin: auto;
  height: 100%;
}
.comment__container {
  margin: auto;
  height: 100%;
}
.comment__container__data {
  height: 25%;
  width: 100%;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
}
.comment__container__data__content {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 1%;
}
.comment__container__data__content__name {
  display: block;
  width: 20%;
  max-height: 20%;
  margin-right: 4%;
}
.comment__container__data__content__date {
  display: block;
  max-height: 20%;
}
.comment__container__data__content__button {
  display: block;
  font-size: 16px;
  width: 150px;
  max-height: 20%;
  margin-left: auto;
}
@media (max-width: 430px) {
  .comment__container__data__content__button {
    width: 80px;
  }
}
.comment__container__data__content__text {
  display: block;
  width: 100%;
  margin-bottom: 1%;
}
.comment__container__comments {
  height: 75%;
  width: 100%;
}
.comment__container__comments :first-child {
  position: fixed;
  visibility: hidden;
}