@import "null-style.scss";


body{

    background-color: #F5F5DC;
}

.comment {
    border: 1px solid grey;
    background-color: #FFF8DC;
    width: 75%;
    margin: auto;
    height: 100%;

    &__container{

        margin: auto;
        height: 100%;

        &__data{

            height: 25%;
            width: 100%;
            border-bottom: 1px solid gray;
        }

        &__comments{

            height: 75%;
            width: 100%;
        }
    }
}